################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cloning_v1/IMG
/Cloning_v1/driving_log.csv
